.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-auto-rows: 1fr;
  grid-gap: 40px;
  justify-content: center;
  max-height: 100%;
  width: 100%;
}